<li class="list-group-item-success" *ngIf="post.loveIts > 0">
    <div class="rcomp"> {{ post.created_at | date : 'short' }} </div>
    <h3 class="comp"> {{ post.title }} </h3>
    <p class="comp"> {{post.content }} </p>
    <div class="comp">
        <button class="btn btn-success"
        (click)="loveit(post)">Love it!</button>
        <button class="btn btn-danger"
        (click)="notloveit(post)">Don't love it!</button>
    </div>
</li>
<li class="list-group-item-danger" *ngIf="post.loveIts < 0 ">
    <div class="rcomp"> {{ post.created_at | date : 'short' }} </div>
    <h3 class="comp"> {{ post.title }} </h3>
    <p class="comp"> {{post.content }} </p>
    <div class="comp">
        <button class="btn btn-success"
        (click)="loveit(post)">Love it!</button>
        <button class="btn btn-danger"
        (click)="notloveit(post)">Don't love it!</button>
    </div>
</li>
<li class="list-group-item" *ngIf="post.loveIts == 0 ">
    <div class="right"> {{ post.created_at | date : 'short' }} </div>
    <h3 class="normal"> {{ post.title }} </h3>
    <p> {{post.content }} </p>
    <div>
        <button class="btn btn-success"
        (click)="loveit(post)">Love it!</button>
        <button class="btn btn-danger"
        (click)="notloveit(post)">Don't love it!</button>
    </div>
</li>