li {
    border-bottom: 0.5px dotted grey;
    border-top: 0.5px dotted grey;
}
p.comp {
    padding-left: 2%;
}
div.right {
    float: right;
    padding-right: 1px;
    color: grey;
}
div.rcomp {
    float: right;
    padding-right: 2.4%;
    color: grey;
}
h3.comp {
    padding-left: 2%;

}

h3.normal {
    padding-left: 0%;
    padding-bottom: 2%;
    margin: 0%;
}
div.comp {
    padding-left: 2%;
    padding-bottom: 1.5%;
}